INSTALL.txt
LICENSE.txt
README.txt
demos/
extras/documentation

.DS_Store

application/configs/database.ini
application/configs/aws.ini

public_html/resources/images/cast/*
!public_html/resources/images/cast/.gitkeep
public_html/resources/images/package/*
!public_html/resources/images/package/.gitkeep
public_html/resources/images/uploaded/cast/*
!public_html/resources/images/uploaded/cast/.gitkeep
public_html/resources/images/uploaded/package/*
!public_html/resources/images/uploaded/package/.gitkeep

resources/json/search/*

